@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;

    transition: width ,3s, height .3s;
    transition-timing-function: ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

section#login > div#imagem {
    background: blueviolet url(../imagem/tela\ de\ login.jpeg) no-repeat;
    height: 200px;
    background-position: left center;
    background-size: cover;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}
div#formilario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formilario > p {
    font-size: 0.5em;
}